.sidebar {
    width: 25%;
    height: 100%;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    border: 1px solid black;
    /* overflow: auto; */
    scrollbar-width: thin

}

.sidebar-content {
    
    height: 96dvh;
    min-height: 95.5dvh;
    overflow-y: scroll;
    padding-bottom: 10px;
}