.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Adjust the number of columns as needed */
    gap: 10px;
    /* Adjust the gap between items */
}

.grid-item img {
    width: 100%;
    height: auto;
}

.feed-container {
    display: flex;
    width: 90%;
    /* justify-content: space-between; */
    border-spacing: 2px;
    background-color: black;
}

.feed-wrapper {
    width: 33%;
    margin-right: 3px;
    min-height: 200px
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.feed-menu {
    margin: -2%;
    cursor: progress;
}